apksigtool==0.1.0
cryptography==45.0.6
fastapi==0.116.1
httpx==0.28.1
jmespath==1.0.1
mysql-connector-python>=9.0.0
pydantic==2.11.7
pyopenssl>=25,<26
pytest==8.4.1
pytest-cov==6.2.1
python-multipart==0.0.20
PyYAML==6.0.2
requests==2.32.5
scapy==2.6.1
SQLAlchemy==2.0.43
starlette==0.47.2
uvicorn==0.35.0
yara-python>=4.5.0
